.header{
    height: 10%;
}
.loginContainer{
    border: 1px solid #b1afaf;
    border-radius: 10px;
    padding: 2%;
    background-color: #2C3431;
    box-shadow: 4px 5px 12px -5px;
}
input{
    width: 100%;
    border-radius: 5px;
    background: white;
    color: rgb(21, 20, 20);
}
.btn{
    border: 1px solid #c7c7c7eb !important;
    background-color: #ffc107 !important;
    border-color: #706f6c !important;
    color: #000;
}
h2{
    padding-bottom: 7%;
    color: #FFF;
    font-family: "Titillium Web", sans-serif;
}
input:focus{
    border: #c7c7c7eb;
}
.right-inner-addon{
    padding-right: 0px !important;
}
.container{
    margin-top: 12%;
}
.loginField{
    padding-bottom: 5%;
}
.validationMsg{
    color: red;
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px
}#imgTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 500px;
    height:200px;
    overflow: scroll;
  }
  
  .tableDiv{
    width: 1140px;
    height: 400px;
    overflow: auto;
  }
  #imgTable td, #imgTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #imgTable tr:nth-child(even){background-color: #f2f2f2;}
  
  #imgTable tr:hover {background-color: #ddd;}
  
  #imgTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #212529;
    color: white;
  }